html{
    box-sizing:border-box;
    font-size: 10px;
  }

  *,*::before,*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
  font-family: 'Noto Serif JP', sans-serif;
  background-color: #014E62;
}

.container{
  width: auto;
  /* min-width: 1440px; */
  height: auto;

}

@media (min-width: 1440px) {

}

@media (max-width: 1440px) {
    /* .container {
        min-width: 1440px;
    } */
}

@media (max-width: 1080px) {

}

@media (max-width: 768px) {

}







a{            /*把a標籤的底線都拿掉，加上自動換行，顏色設定為黑色*/
  display: block;
  color: #fafbfd;
  text-decoration: none;
}

.navbtn_li{                /*給list型導覽列的li元素，使導覽列橫向排列*/
  display: flex;
}

.libtn{                     /*list型導覽列按鈕初始*/
  list-style: none;
  text-align: center;
}

.flexTextCenter{            /*文字垂直中央置中（給盒子）*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
    display: flex;
}



/* ↓ 字型設定區/////////////////////////////////////////////////////////////*/

.textH{                 /* header 字型*/
    padding: 0px;
    margin: 0px;
    color: #FAFBFD;
    font-size: 7.2rem;
    font-family: 'Noto Serif JP', 'Arial Narrow', sans-serif;
    text-align: center;
    line-height: 1.25em;
    font-weight: 400;
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.6);
}

.textHp{                 /* sub nav 字型*/
    padding-bottom: 6.31px;
    margin: 0px;
    color: #FAFBFD;
    font-size: 1.4rem;
    font-family: 'Noto Serif JP', 'Arial Narrow', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-align: center;
}

.textN{                 /* nav 字型*/
    padding: 0px;
    margin: 0px;
    color: #FAFBFD;
    font-size: 2rem;
    font-family: 'Noto Serif JP', 'Arial Narrow', sans-serif;
    font-weight: 600;
    letter-spacing: 0.15em;
    height: inherit;
    align-self: center;
    /* line-height: 111px; */
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.textBur{                 /* burger 字型*/
    padding: 0px;
    margin: 0px;
    color: #FAFBFD;
    font-size: 3rem;
    font-family: 'Noto Serif JP', 'Arial Narrow', sans-serif;
    font-weight: 600;
    letter-spacing: 0.4em;
    height: inherit;
    align-self: center;
    /* line-height: 111px; */
}



.textF{
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-family: 'Noto Serif JP','Roboto','Arial', 'Arial Narrow', sans-serif;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.footer_link .textF{
    letter-spacing: 0.5em;
}

.footer_contact .textF{
    letter-spacing: 0.2em;
}

.footer_copyright .textF{
    font-family: 'Roboto Condensed', 'Arial Narrow','Arial', sans-serif;
}
  
  
  /* ↑ 字型設定區/////////////////////////////////////////////////////////////////*/


  /* ↓ banner區/////////////////////////////////////////////////////////////////*/

.bannerbox{
    width: 100%;
    height: 100vh;
    /* height: 100vh;
    max-height: 100vh; */
    /* overflow: hidden; */
    /* position: relative; */
    z-index: -2;
}

.bg{
    z-index: -1;
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
}

.bg_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.5) 100%);
}

.banner_item_box{
    width: 100%;
    height: 80%;
    align-self: flex-end;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.banner_scroll{
    flex-direction: column;
    margin: 30px 0;
}

@media (max-width: 768px) {

    .textH{
        font-size: 5.6rem;
    }    

}

@media (max-width: 320px) {

    .textH{
        font-size: 5rem;
    }    

}


/* ↑ banner區/////////////////////////////////////////////////////////////////*/



/* ↓ nav區////////////////////////////////////////////////////////////////////*/


.nav_box{
    position: fixed;
    justify-content: center;
    height: 96px;
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
}

.nav_link_box{
    height: 100%;
}

.nav_link{
    height: 100%;
}

.nav_link_btn{
    margin-right: 35px;

}

.nav_icon img{
    height: 55px;
}

.nav_icon{
    margin-right: 35px;
}

.nav_link_btn{
    position: relative;
    transition: all .3s linear;
}

.nav_link_btn::before{
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    box-sizing: border-box;
    border-bottom: 3px solid #EB6570;
    border-radius: 90px;
    position: absolute;
    bottom: 25px;
    right: 46px;
    transition: all .3s linear;
}

.nav_link_btn::after{
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    box-sizing: border-box;
    border-bottom: 3px solid #EB6570;
    border-radius: 90px;
    position: absolute;
    bottom: 25px;
    left: 44px;
    transition: all .3s linear;
}

.nav_link_btn:hover::before{
    width: 44px;
}

.nav_link_btn:hover::after{
    width: 44px;
}

.nav_link_btn img{
    height: 29px;
    padding: 3px 0 2px;
    margin-right: 9px;
}

.nav_right .nav_link li:last-child{
    padding: 0 6px;
    margin-right: 0;
}




.subNav{
    opacity: 0;
    pointer-events: none;
    z-index: 6;
    /* transition: 0.5s; */
}

.subNav .nav_box{
    background-color: rgba(1, 78, 98, 0);
    transition: 1s;
}

.subNav img{
    opacity: 0;
    transition: 1s;
}

.subNav .textN{
    opacity: 0;
    transition: 1s;
}

.navAppear.subNav .nav_box{
    background-color: rgba(1, 78, 98, 1);
    transition: 1s;
}

.navAppear.subNav{
    pointer-events: all;
    opacity: 1.0;
}

.navAppear.subNav .nav_icon img{
    opacity: 1;
    transition: 1.35s;
}

.navAppear.subNav .nav_link_btn img{
    opacity: 1;
    transition: 1s;
}

.navAppear.subNav .textN{
    opacity: 1;
    transition: 1s;
}

@media (min-width: 1150px) {
    nav{
        display: block;
    }
    .subNav{
        display: block;
    }
}

@media (max-width: 1149px) {
    nav{
        display: none;
    }
    .subNav{
        display: none;
    }
}

/* ↑ nav 區//////////////////////////////////////////////////////////////////////*/



/* ↓ burger 區////////////////////////////////////////////////////////////////////*/

.flexNav{
    position: fixed;
    z-index: 55;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(1, 78, 98, 0);
    transition: 1s;
}

.flexNav_color{
    transition: 1s;
    background-color: rgba(1, 78, 98, 1);
}

.flexNav_logo_box{
    z-index: 55;
    width: 100%;
    height: inherit;
    position: fixed;
}

.flexNav_logo{
    transition: 1s;
}

.flexNav_logo_box img{
    z-index: 55;
    height: 55px;
}

.logo_hidden{
    transition: 1s;
    opacity: 0;
    pointer-events: none;
}

.flexNav_burger_box{
    min-height: 40px;
    z-index: 55;
    margin: auto 31px;
}

.burger{
    background-color: #FAFBFD;
    height: 4px;
    width: 36px;
    position: relative;
    /* top: 110px;
    right: 58px; */
    border-radius: 90px;
    transition: 0.2s;
}

.burger::before, .burger::after{
    background-color: #FAFBFD;
    height: 4px;
    width: 36px;
    margin: 1.25;
    position: absolute;
    /* right: 58px; */
    border-radius: 90px;
    content: "";
    transition: 0.2s;
}

.burger::before{
    top: 13px;
}

.burger::after{
    bottom: 13px;
}



.burger.burgerActive{
    /* display: none; */
    width: 0;
    margin-right: 36px;
    z-index: 65;
}

.burger.burgerActive::before{
    transform: rotate(-45deg);
    top: 13px;
    top: 11%;
    transition: 1s;
}

.burger.burgerActive::after{
    transform: rotate(45deg) ;
    bottom: 13px;
    bottom: 11%;
    transition: 1s;
}

.burger_link_box{
    pointer-events: none;
    opacity: 0;
    z-index: 54;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #014E62;
    transition: 1s;
    overflow:auto;
}

.burger_link_box .flexNav{
    background-color: #014E62;
}

.burger_open{
    pointer-events: all;
    opacity: 1;
    transition: 1s;
}

.burger_link{
    margin: 80px;
}

.burger_link_btn{
    width: 100%;
    border-bottom: 1px solid rgba(250, 251, 253, 0.5);;
}

.burger_link .burger_link_btn:last-child{
    border-bottom: none;
}

.burger_link_btn a{
    margin: 37px auto ;
}

.burger_link_btn a:hover{
    color: #EB6570;
}

.burger_link_btn img{
    height: 20px;
    margin-right: 14px;
}

.burger_link_btn a:hover path{
    fill: #EB6570;
}


@media (min-width: 1150px) {
    .flexNav{
        display: none;
    }
}

@media (min-width: 500px) {
    .flexNav_burger_box:hover .burger:before{
        transition: 0.2s;
        top: 16px;
    }
    
    .flexNav_burger_box:hover .burger:after{
        transition: 0.2s;
        bottom: 16px;
    }
    
    .flexNav_burger_box:hover .burger.burgerActive::before{
        transition: 0.2s;
        top: 0px;
    }
    
    .flexNav_burger_box:hover .burger.burgerActive::after{
        transition: 0.2s;
        bottom: 0px;
    }
}

@media (max-width: 1149px) {
    .flexNav{
        display: flex;
    }
}

@media (max-width: 438px) {

    .flexNav{
        height: 50px;
    }

    .flexNav_logo_box img{
        height: 42px;
    }

    .flexNav_burger_box{
        min-height: 20px;
        margin: auto 12px;
    }


    .burger_link_box .flexNav{
        height: 80px;
    }

    .burger_link_box .flexNav_logo_box img{
        height: 57px;
    }


    .burger{
        height: 2px;
        width: 22px;
    }

    .burger::before, .burger::after{
        height: 2px;
        width: 22px;
    }
    .burger::before{
        top: 9px;
    }
    
    .burger::after{
        bottom: 9px;
    }

    .burger.burgerActive{
        /* display: none; */
        margin-right: 24px;
    }

    .burger_box_border{
        width: 37px;
        height: 36px;
        border: 0.5px solid #FAFBFD;
        border-radius: 2px;
    }

    .burger_link{
        margin: 80px 13px;
    }

    .burger_link_btn a{
        margin: 19px auto ;
    }

    .burger_link_box .textBur{
        font-size: 1.9rem;
    }
}


/* ↑ burger 區////////////////////////////////////////////////////////////////////*/

article{
    height: 1000px;
    width: auto;
    background-color: #014E62;
    overflow: hidden;
    position: relative;
    z-index: 10;
    transform: translate3d(0px, 0px, 0px);
}

  /* ↓ footer 區/////////////////////////////////////////////////////////////////*/
footer{
    width: auto;
    height: auto;
    min-height: 198px;
    background-color: #014E62;
}

.footer_box{
    margin: 22.5px auto 42.5px;
    flex-direction: column;
}

.footer_contact{
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_phone img , .footer_email img{
    margin-right: 20px;
}

.footer_sns{
    margin-right: 20px;
}

.footer_snsbox .youtube{
    margin-right: 0px;
}

.footer_phone{
    margin-right: 50px;
}

.footer_email{
    margin-right: 50px;
}

.footer_copyright img{
    height: 23px;
    margin-right: 15px;
}

.footer_box a:hover{
    opacity: 0.5;
    transition: 0.15s;
}

@media (max-width: 756px) {
    .footer_contact{
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .footer_phone{
        margin-bottom: 15px;
    }

    .footer_email{
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .footer_snsbox{
        margin: 0 50px;
    }
}

@media (max-width: 700px) {

    .footer_phone{
        margin-left: 75px;
        margin-right: 75px;
    }

    .footer_email{
        margin-left: 75px;
        margin-right: 75px;
    }

    .footer_link{
        width: 300px;
        flex-wrap: wrap;
        justify-content: center;
        /* margin: 0 20px; */
    }


    .footer_link li:nth-last-child(2){
        display:block;
        margin: 10px 0 0;
    }
    .footer_link li:nth-last-child(1){
        margin: 10px 10px 0 0;
    }

    .footer_link li:nth-last-child(4){
        display: none;
    }
    .footer_link li:nth-last-child(3){
        margin: 10px 0 0 10px;
    }
    
}







@media (max-width: 319px){
    .footer_link li:nth-last-child(2){
        display: none;
    }
    .footer_link li:nth-last-child(1){
        margin: 10px 50px 0;
    }

    .footer_link li:nth-last-child(4){
        display:block;
        margin: 10px 0 0;
    }
    .footer_link li:nth-last-child(3){
        margin: 10px 30px 0 0;
    }

    .footer_link li:nth-last-child(6){
        display: none;
    }
    .footer_link li:nth-last-child(5){
        margin: 10px 0 0 30px;
    }
}

@media (max-width: 230px){
    .footer_link li:nth-child(2n){
        display: none;
    }

    .footer_link li:nth-child(2n+1){
        margin: 15px 50px 0;
    }
}

  /* ↑ footer區/////////////////////////////////////////////////////////////////*/
