.content{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    height: auto;
    margin-top: -10vh;
    margin-bottom: 1000px;
}
/* ↓ 字型設定區/////////////////////////////////////////////////////////////////*/
.content p{
    color: #FAFBFD;
    font-family: 'Noto Serif JP', sans-serif;
    padding: 0px;
    margin: 0px;
}
.content .textA{        
    width:auto;   
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 84px;
    letter-spacing: 0.4em;
    margin: auto;
}

.content .textB{
    text-shadow: 1px 3px 8px #000;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 200%;    
    letter-spacing: 0.3em;
    text-align: left;
}
.content .small_english{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 200%;    
    letter-spacing: 0.5em;
}

.mark{ 
    background-size: 200px 60px;
    background-image: linear-gradient(transparent 50%, #EB6570 50%);
}

br {
    content: " ";
 }
/* ↑ 自行設定區/////////////////////////////////////////////////////////////////*/


/* ↓ banner區/////////////////////////////////////////////////////////////////*/


.bg{
    background: url(../img/story_banner.png) center center/cover no-repeat;
}

/* ↑ banner區/////////////////////////////////////////////////////////////////*/

/* ↓ content區/////////////////////////////////////////////////////////////////*/

.content .section_right{
    position: relative;
    margin-top: 80vh;
    padding: 0px;
    margin-left: 54vw;
    margin-right: 10vw;
}
.content .section_left{
    position: relative;
    margin-top: 100vh;
    padding: 0px;
    margin-left: 12vw;
    margin-right: 30vw;
}
.section_center{
    position: relative;
    padding: 0px;
    margin: auto;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.content .pic_right{
    position: absolute;
    z-index: -1;
    margin-top: 60vh;
    /* margin-right: 20vw; */
    margin-left: 55vw;
}
.content .pic_left{
    position: absolute;
    z-index: -1;
    margin-top: 40vh;
    /* margin-right: 49vw; */
    margin-left: 15vw;
}
.content .section_top{
    top: 30vh;
}
.content .section1{
    margin-top: 120vh;
}
.content .section2{
    margin-top: 100vh;
}
.content .section3{
    margin-top: 100vh;
}
.content .section4 {
    margin-top: 50vh;
}
.content .section5 {
    width: 100vw;
    margin-left:0vw;
}
.section4 .textB{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 200%;    
    letter-spacing: 0.3em;
}
.content .pic_1{
    width: 546px;
    height: 395px;
}
.content .pic_2{
    width: 493px;
    height: 312px; 
}
.content .pic_3{
    width: 231px;
    height: 231px;
    margin-top: 80vh;
    margin-left: 34vw;
}
.content .pic_4{
    width: 368px;
    height: 370px;
    margin-top: 40vh;
    margin-left: 62vw;
}
.content .pic_5{
    display: block;
    width: 1058px;
    margin: auto;
    margin-top: -40vh;
    text-align: center;
}

.section_top p:first-child{
    line-height: 1.5em;
}

.small_english{
    line-height: 1.5em;
}



/* ↑ content區/////////////////////////////////////////////////////////////////*/


/* ↓ rwd區/////////////////////////////////////////////////////////////////*/

@media (min-width: 1440px) {

}

@media (max-width: 1440px) {
    .content{
        margin-bottom: 1000px;
    }
    .content .section_right{
        position: relative;
        top: -15vh;
        padding: 0px;
        margin-left: 58vw;
        margin-right: 5vw;
    }
    .content .section_left{
        position: relative;
        top: 0vh;
        padding: 0px;
        margin-left: 10vw;
        margin-right: 24vw;
    }
    .content .pic_right{
        margin-top: 40vh;
        right: 8vw;
    }
    .content .pic_left{
        margin-top: 30vh;
        margin-left: 8vw;
    }
    .content .section3{
        margin-top: 80vh;
    }
    .content .section5{
        margin-top: -20vh;
        text-align: center;
    }
    .content .pic_1{
        width: 526px;
        height: 375px;
    }
    .content .pic_2{
        width: 493px;
        height: 312px; 
    }
    .content .pic_3{
        width: 231px;
        height: 231px;
        margin-top: 60vh;
        margin-left: 34vw;
    }
    .content .pic_4{
        width: 368px;
        height: 370px;
        margin-top: 20vh;
        right: 8vw;
    }
    .content .pic_5{
        width: 950px;
        margin-top: -40vh;
    }
}

@media (max-width: 1024px) {
    .content .textA{        
        width:auto;   
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 84px;
        letter-spacing: 0.4em;
        margin: auto;
    }
    .content .textB{
        text-shadow: 1px 3px 8px #000;
        font-size: 2.3rem;
        font-weight: 600;
        line-height: 200%;    
        letter-spacing: 0.3em;
        text-align: left;
    }
    .content .small_english{
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 200%;    
        letter-spacing: 0.5em;
    }
    .content{
        margin-bottom: 1000px;
    }
    .content .section_right{
        position: relative;
        top: -20vh;
        padding: 0px;
        /* margin-left: 65vw; */
        right: -2vw;
    }
    .content .section_left{
        position: relative;
        top: -10vh;
        padding: 0px;
        margin-left: 7vw;
        margin-right: 10vw;
    }
    .content .section_top{
        margin-left: 8vw;
        margin-right: 8vw;
        top: 25vh;
    }
    .content .pic_right{
        margin-top: 50vh;
        right: 5vw;
    }
    .content .pic_left{
        margin-top: 20vh;
        margin-left: 5vw;
    }
    .content .section3{
        margin-top: 80vh;
    }
    .content .section5{
        margin-top: -20vh;
        text-align: center;
    }
    .content .pic_1{
        width: 506px;
        height: 355px;
    }
    .content .pic_2{
        width: 463px;
        height: 292px; 
    }
    .content .pic_3{
        width: 231px;
        height: 231px;
        margin-top: 60vh;
        margin-left: 34vw;
    }
    .content .pic_4{
        width: 328px;
        height: 330px;
        margin-top: 10vh;
    }
    .content .pic_5{
        width: 760px;
        top: 0vh;
    }
}

@media (max-width: 768px) {
    .content .textA{        
        font-weight: 700;
        font-size: 3.0rem;
        line-height: 84px;
        letter-spacing: 0.4em;
        margin: auto;
    }
    .content .textB{
        font-size: 2.1rem;
        font-weight: 600;
        line-height: 200%;    
        letter-spacing: 0.3em;
    }
    .content .small_english{
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 200%;    
        letter-spacing: 0.5em;
    }
    .content{
        margin-bottom: 1000px;
    }
    .content .section_right{
        position: relative;
        top: 18vh;
        padding: 0px;
        margin-left: 25vw;
        right: -2vw;
    }
    .content .section_left{
        position: relative;
        top: 2vh;
        padding: 0px;
        margin-left: 7vw;
        margin-right: 20vw;
    }
    .content .section_top{
        margin-left: 5vw;
        margin-right: 5vw;
        top: 25vh;
    }
    .content .pic_right{
        margin-top: 50vh;
        right: 3vw;
    }
    .content .pic_left{
        margin-top: 20vh;
        margin-left: 10vw;
    }
    .content .section3{
        margin-top: 100vh;
    }
    .content .section5{
        margin-top: 40vh;
        text-align: center;
    }
    .content .pic_1{
        width: 456px;
        height: 305px;
    }
    .content .pic_2{
        width: 443px;
        height: 272px; 
    }
    .content .pic_3{
        width: 220px;
        height: 220px;
        margin-top: 50vh;
        right: 5vw;
    }
    .content .pic_4{
        width: 308px;
        height: 310px;
        margin-top: 30vh;
    }
    .content .pic_5{
        width: 570px;
        margin-top: -85vh;
    }
}
@media (max-width: 580px) { 
    .content .textA{        
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 84px;
        letter-spacing: 0.4em;
        margin: auto;
    }
    .content .textB{
        font-size: 2.0rem;
        font-weight: 600;
        line-height: 200%;    
        letter-spacing: 0.3em;
    }
    .content .small_english{
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 200%;    
        letter-spacing: 0.5em;
    }
    .content .section_right{
        position: relative;
        top: -5vh;
        padding: 0px;
        margin-left: 25vw;
        right: -2vw;
    }
    .content .section_left{
        position: relative;
        top: -10vh;
        padding: 0px;
        margin-left: 7vw;
        margin-right: 20vw;
    }
    .content .section_top{
        margin-left: 5vw;
        margin-right: 5vw;
        top: 25vh;
    }
    .content .pic_right{
        margin-top: 50vh;
        right: 3vw;
    }
    .content .pic_left{
        margin-top: 20vh;
        margin-left: 3vw;
    }
    .content .pic_2{
        width: 403px;
        height: 232px; 
    }
    .content .pic_3{
        width: 160px;
        height: 160px;
        margin-top: 40vh;
        right: 5vw;
    }
    .content .pic_5{
        width: 430px;
        margin-top: -195vh;
    }
    .content .pic_4{
        width: 308px;
        height: 310px;
        margin-top: 10vh;
    }
    .content .section5{
        margin-top: 150vh;
        text-align: center;
    }
    .content .pic_3{
        width: 210px;
        height: 210px;
        margin-top: 40vh;
        right: 3vw;
    }
}

@media (max-width: 440px) { 
   
}
@media (max-width: 350px) { 
   
}


/* ↑ rwd區/////////////////////////////////////////////////////////////////*/
