.content{
    position: relative;
    display: block;
    width: 100%;
    
    top:100vh;
}
/* ↓ 字型設定區/////////////////////////////////////////////////////////////////*/
.content p{
    color: #FAFBFD;
    font-family: 'Noto Serif JP', sans-serif;
    padding: 0px;
    margin: 0px;
}

.content .textA{           
    font-weight: 700;
    font-size: 3.7rem;
    line-height: 84px;
    letter-spacing: 0.5em;
    border: 1px solid red;
}

.content .textB{
    font-weight: 100;
    font-size: 1.8rem;
    line-height: 200%;
    letter-spacing: 0.3em;
    border: 1px solid red;
}

br {
    content: " ";
 }
/* ↑ 自行設定區/////////////////////////////////////////////////////////////////*/

/* ↓ banner區/////////////////////////////////////////////////////////////////*/


.bg{
    background: url(../img/persistence_banner.png) center center/cover no-repeat;
}

/* ↑ banner區/////////////////////////////////////////////////////////////////*/
.content img{
    width: 457px;
    height: 457px;
}
.section1{
    position: relative;
    top: 10vh;
    padding: 0px;
    border: solid 1px blue;
}
.section1{
    position: relative;
    top: 10vh;
    padding: 0px;
    margin-left:15vw;
    margin-right: 44vw;
    border: solid 1px blue;
}

.content .pic_right{
    border: solid 1px blue;
    margin-left: 55vw;
}