/* ↓ 字型設定區/////////////////////////////////////////////////////////////*/


.textA{                 /* 內文 ABC 級字型都還沒用過可以改*/
    padding: 0px;
    margin: 0px;
    color: #fafbfd;
    font-size: 4.8rem;
    letter-spacing: 0.3em;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    font-weight: 700;
}

.textB{
    padding: 0px;
    margin: 0px;
    color: #fafbfd;
    font-size: 3rem;
    letter-spacing: 0.3em;
    font-weight: 400;
    text-align: left;
}

.textC{
    padding: 0px;
    margin: 0px;
    color: #fafbfd;
    font-size: 2.5rem;
    line-height: 2em;
    letter-spacing: 0.3em;
    font-weight: 400;
}


@media (max-width: 1080px) {

    .textA{                 /* 內文 ABC 級字型都還沒用過可以改*/
        font-size: 3.6rem;

    }
    
    .textB{
        font-size: 2.8rem;

    }
    
    .textC{
        font-size: 2.1rem;
    }

}

@media (max-width: 768px) {

    .textA{                 /* 內文 ABC 級字型都還沒用過可以改*/
        font-size: 3.2rem;

    }
    
    .textB{
        font-size: 2.6rem;

    }

}

@media (max-width: 320px) {

    .textA{                 /* 內文 ABC 級字型都還沒用過可以改*/
        font-size: 2.8rem;

    }
    
    .textB{
        font-size: 2.2rem;

    }
    
    .textC{
        font-size: 1.6rem;
    }

}



/* ↑ 字型設定區/////////////////////////////////////////////////////////////////*/




/* ↓ banner區/////////////////////////////////////////////////////////////////*/


.bg{
    background: url(../img/index_banner.png) center center/cover no-repeat;
}

.banner_item_box{
    height: 70%;
}

.banner_content_box p:nth-child(1){
    padding-bottom: 20px;
    font-size: 18px;
}

.banner_content_box{
    margin: 30px;
}

.banner_content_box .textHp{
    font-weight: 700;
    letter-spacing: 0.6em;
}

@media (max-width: 1080px) {

    .banner_content_box p:nth-child(1){
        padding-bottom: 16px;
        font-size: 16px;
    }

    .banner_content_box p:nth-child(2){
        font-size: 12px;
    }

    .banner_content_box{
        margin: 25px;
    }

}

@media (max-width: 768px) {

    .banner_content_box p:nth-child(1){
        padding-bottom: 14px;
        font-size: 14px;
    }

    .banner_content_box p:nth-child(2){
        font-size: 10px;
    }

    .banner_content_box{
        margin: 24px;
    }

}

/* ↑ banner區/////////////////////////////////////////////////////////////////*/


/* ↓ about 關於山焙 區/////////////////////////////////////////////////////////////////*/


.about{
    margin: 104px auto 0;
    width: 1060px;
    height: auto;
}

.about_content{
    height: 572px;
    margin-top: 143px;
    justify-content: space-between;
}

.about_content_img{
    width: 497px;
    height: 100%;
    display: flex;
    position: relative;
}

.about_content_img img:first-child{
    width: 89%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.about_content_img img:last-child{
    width: 54%;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
}

.about_content_text{
    width: 50%;
    height: 100%;
}

.about_movie{
    margin-top: 110px;
    max-width: 100%;
    height: 80vh;
    max-height: 598px;
    /* height: 60vh; */
    position: relative;
}

.about_movie video{
    width: 100%;
    height: 100%;
    
}


.about_movie_control{
	position: absolute;
	right: 50px;
	bottom: 20px;
	font-size: 20px;
}

.about_movie_control button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    pointer-events: all;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

#volup,#mute {
	opacity: .4; color: #fff;
}
#volup.select, #mute.select {
    opacity: 1;
}
#volup {
	margin-right: 25px;
}
#mute:before,
#volup:before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 15px;
	background: url(../img/index_about_movie_sound_on.svg) no-repeat;
	background-size: contain;
	margin-right: 7px;
	position: relative;
	top: 2px;
}
#mute:before {
	background: url(../img/index_about_movie_sound_off.svg) no-repeat;
	background-size: contain;
	width: 10px;
	height: 14.5px;
}
#volup.select, #mute.select {
	opacity: 1;
}





@media (max-width: 1080px) {

    .about{
        margin: 81px auto 0;
        width: 874px;
        height: auto;
    }
    
    .about_content_text{
        width: auto;
        max-width: 44%;
        height: 90%;
    }

    .about_movie{
        height: auto;
    }

}

@media (max-width: 920px) {

    .about{
        padding: 0 20px;
        width: auto;
    }
    
    .about_content{
        height: 372px;
    }

    .about_content_img{
        width: 49%;
    }

    .about_content_text{
        max-width: 48%;
    }
}

@media (max-width: 768px) {

    .about_movie_control{
        display: none;
    }
}

@media (max-width: 700px) {

    .about_content{
        flex-wrap: wrap;
        justify-content: center;
    }

    .about_content_img{
        width: 301px;
        height: 289px;
        margin: 0 auto;
    }
    .about_content_text{
        width: 100%;
        max-width: 460px;
        padding: 20px 10px;
        height: auto;
    }
}




/* ↑ about 關於山焙 區/////////////////////////////////////////////////////////////////*/




/* ↓ recommend 推薦飲品 區/////////////////////////////////////////////////////////////////*/

.recommend{
    margin: 148px auto 0;
    width: 1060px;
    height: 80vh;
    max-height: 766px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommend_content{
    height: 90%;
    width: auto;
    margin-top: 50px;
    position: relative;
}


.swiper {
  width: 70%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  /* width: 100px; */
  /* height: 100%; */
  text-align: center;
  /* font-size: 18px; */
  /* background: rgb(59, 59, 59); */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}






.swiper-pagination{
    width: 250px; 
    height: 25px; 
    padding-bottom: 3px; 
    left: calc(100% - 250px); 
    background: none; 
    bottom: -50px; 
    position: absolute; 
    z-index: 99999999 !important; 
    display: flex; 
    align-items: flex-end;
    justify-content: center;
}

.swiper-pagination span,#swiper01_param .swiper-pagination span{
    margin: 0 8px !important;
    display: block;
    background: #fafbfd;
    opacity: 1;
    border-radius: 30%;
    transform: rotate(45deg);
    /* border: 0.5px solid #EB6570; */
    width: 12px;
    height: 12px;
}
.swiper-pagination span.swiper-pagination-bullet-active,#swiper01_param .swiper-pagination span.swiper-pagination-bullet-active{
    width: 12px;
    height: 12px;
    position: relative;
    /* bottom: -2px; */
    background: #EB6570;
}




.recommend_swiper_box{
    display: flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 80%;
}

.recommend_swiper_img{
    margin: auto 0;
    height: 90%;
    /* width: 384px; */
    align-self: flex-start;
}

.recommend_swiper_content{
    height: 100%;
    /* width: 384px; */
    margin: auto 0;
    padding-left: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.recommend_swiper_tag{
    width: 142px;
    margin-bottom: 50px;
    margin-top: -30px;
}


.swiper_button{
    justify-self: center;
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.swiper-button-next,.swiper-button-prev{
    color: rgba(0, 0, 0, 0);
    width: 100px;
    position: static;
}

.swiper-button-next::after,.swiper-button-prev::after{
    content: "";
}

.swiper-button-next:hover path{
    fill: #EB6570;
}

.swiper-button-prev:hover path{
    fill: #EB6570;
}



@media (max-width: 1080px) {


    .recommend{
        margin: 120px auto 0;
        width: auto;
        max-width: 875px;
        max-height: 1030px;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }
    .recommend_swiper_box{
        flex-wrap: wrap-reverse;
        height: 70%;
    }

    .recommend_swiper_content{
        height: 30%;
        width: 100%;
        justify-content: center;
        align-content: center;
        padding-left: 0;
    }

    .recommend_swiper_tag{
        align-self: center;
    }

    .recommend_swiper_content .textB{
        text-align: center;
        margin-bottom: 50px;
    }

}


@media (max-width: 620px) {

    .recommend{
        margin: 148px auto 0;
        width: auto;
        height: 80vh;
        max-height: 766px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .swiper{
        width: 100%;
        /* padding: 0 20px;
        margin-left: 0;
        margin-right: 0; */
    }

    .swiper_button{
        display: none;
    }

    .recommend_swiper_tag{
        width: 108px;
        margin-bottom: 25px;
    }

}


/* ↑ recommend 推薦飲品 區/////////////////////////////////////////////////////////////////*/


/* ↓ 關於山焙 區/////////////////////////////////////////////////////////////////*/



/* ↑ 關於山焙 區/////////////////////////////////////////////////////////////////*/
