.subNav{
    opacity: 1;
    pointer-events: all;
    z-index: 2;
    /* transition: 0.5s; */
}

.subNav .nav_box{
    background-color: rgba(1, 78, 98, 1);
    transition: 0;
}

.subNav img{
    opacity: 1;
    transition: 0;
}

.subNav .textN{
    opacity: 1;
    transition: 0;
}

nav{
    height: 96px;
}

.flexNav{
    
    background-color: rgba(1, 78, 98, 1);
    transition: 0s;
}


article{
    z-index: 1;
}