/* ↓ 字型設定區/////////////////////////////////////////////////////////////*/


.textA{                 /* 內文 ABC 級字型都還沒用過可以改*/
    padding: 0px;
    margin: 0px;
    color: #fafbfd;
    font-size: 3.6rem;
    letter-spacing: 0.3em;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    font-weight: 700;
}

.textB{
    padding: 0px;
    margin: 0px;
    color: #fafbfd;
    font-size: 2.8rem;
    letter-spacing: 0.3em;
    font-weight: 400;
}

.textC{
    padding: 0px;
    margin: 0px;
    color: #fafbfd;
    font-size: 2.5rem;
    line-height: 2em;
    letter-spacing: 0.3em;
    font-weight: 400;
}



/* ↑ 字型設定區/////////////////////////////////////////////////////////////////*/




/* ↓ banner區/////////////////////////////////////////////////////////////////*/


.bg{
    background: url(../img/index_banner.png) center center/cover no-repeat;
}

.banner_item_box{
    height: 70%;
}

.banner_content_box p:nth-child(1){
    padding-bottom: 20px;
    font-size: 18px;
}

.banner_content_box{
    margin: 30px;
}

.banner_content_box .textHp{
    font-weight: 700;
    letter-spacing: 0.6em;
}

@media (max-width: 1080px) {

    .banner_content_box p:nth-child(1){
        padding-bottom: 16px;
        font-size: 16px;
    }

    .banner_content_box p:nth-child(2){
        font-size: 12px;
    }

    .banner_content_box{
        margin: 25px;
    }

}

@media (max-width: 768px) {

    .banner_content_box p:nth-child(1){
        padding-bottom: 14px;
        font-size: 14px;
    }

    .banner_content_box p:nth-child(2){
        font-size: 10px;
    }

    .banner_content_box{
        margin: 24px;
    }

}

/* ↑ banner區/////////////////////////////////////////////////////////////////*/


/* ↓ about 關於山焙 區/////////////////////////////////////////////////////////////////*/


.about{
    margin: 104px auto 0;
    width: 1060px;
    height: auto;
}

.about_content{
    height: 497px;
    margin-top: 143px;
    justify-content: space-between;
}

.about_content_img{
    width: 47%;
    height: 100%;
    display: flex;
    position: relative;
}

.about_content_img img:first-child{
    width: 89%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.about_content_img img:last-child{
    width: 54%;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
}

.about_content_text{
    width: 50%;
    height: 100%;
}

.about_movie{
    margin-top: 110px;
    max-width: 100%;
    /* height: 60vh; */
    position: relative;
}

.about_movie video{
    width: 100%;
    height: 80vh;
}


.about_movie_control{
	position: absolute;
	right: 125px;
	bottom: 20px;
	font-size: 20px;
}

.about_movie_control button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    pointer-events: all;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

#volup,#mute {
	opacity: .4; color: #fff;
}
#volup.select, #mute.select {
    opacity: 1;
}
#volup {
	margin-right: 25px;
}
#mute:before,
#volup:before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 15px;
	background: url(../img/index_about_movie_sound_on.svg) no-repeat;
	background-size: contain;
	margin-right: 7px;
	position: relative;
	top: 2px;
}
#mute:before {
	background: url(../img/index_about_movie_sound_off.svg) no-repeat;
	background-size: contain;
	width: 10px;
	height: 14.5px;
}
#volup.select, #mute.select {
	opacity: 1;
}



/* ↑ about 關於山焙 區/////////////////////////////////////////////////////////////////*/




/* ↓ recommend 推薦飲品 區/////////////////////////////////////////////////////////////////*/

.recommend{
    margin: 148px auto 0;
    width: 1060px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommend_content{
    height: 90%;
    margin-top: 50px;
}


.swiper {
  width: 70%;
  height: 100%;
}

.swiper-slide {
  /* width: 100px; */
  /* height: 100%; */
  text-align: center;
  /* font-size: 18px; */
  background: rgb(59, 59, 59);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper{
    /* width: 80%; */
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper {
  margin-left: auto;
  margin-right: auto;
}



.recommend_swiper_box{
    display: flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.recommend_swiper_img{
    margin: auto 0;
    height: 384px;
    width: 384px;
    align-self: flex-start;
}

.recommend_swiper_content{
    height: 384px;
    width: 384px;
    margin: auto 0;
    padding-left: 59px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.recommend_swiper_tag{
    height: 80px;
    width: auto;
}




/* ↑ recommend 推薦飲品 區/////////////////////////////////////////////////////////////////*/


/* ↓ 關於山焙 區/////////////////////////////////////////////////////////////////*/



/* ↑ 關於山焙 區/////////////////////////////////////////////////////////////////*/
